* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #F1F1F1;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #F87B1B;
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #11224E;
    width: 100%;
    height: 60px;
    position: fixed;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.nav-links {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    background-color: #071026;
    transition: 300ms;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.hero {
    background: url('img/home-bg.png') no-repeat center center/cover;

}

.hero-top {
    height: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    ;
    justify-content: space-around;
    align-items: center;
}

.hero-top h1 {
    font-size: 3em;
    font-weight: normal;
}

.hero-top hr {
    width: 200px;
    border: #F87B1B 2px solid;
}

.hero-top a {
    padding: 15px 100px;
    font-size: 1.5em;
    border-radius: 50px;
}

.announcement {
    background-color: #97B3EF;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 30%;
    width: 55%;
    margin-top: 20px;
    ;
}

.announcement h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.announcement p {
    text-align: center;
}

.announcement a {
    padding: 10px 50px;
    font-size: 1.2em;
    border-radius: 50px;
    margin-top: 10px;
}


.news h2 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

.news-cards {
    height: 70%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
}

.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    flex-shrink: 0;
    margin: 20px;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 50%;
}

.news-content h3 {
    font-weight: bold;
    margin-bottom: 5px;
    ;
}

.news-content p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.news-content date {
    font-weight: normal;
}

.news-card a {
    font-size: 1.2em;
    width: 50%;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: auto;
    margin-bottom: 20px;
}

.calendars h2 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

.calendars div {
    display: flex;
    height: 80%;
}

footer {
    background-color: #11224E;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.logo2 {
    height: 80px;
}

.footer-top nav {
    display: flex;
    justify-content: center;
}

.footer-top nav a {
    color: #fff;


}

.fb img {
    height: 80px;
}

.sponsors-img {
    height: 100px;
}

.address {
    color: #fff;
    width: 200px;
}

footer p {
    color: #fff;
}

/* Booking Page Styles */
.booking-page {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-booking {
    color: #F87B1B;
    border: #F87B1B 3px solid;
    padding: 10px 50px;
    border-radius: 50px;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 50px;
    cursor: pointer;
}


.choose-date {
    background-color: #fff;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.choose-date:hover {
    background-color: #ccc;
    transition: 300ms;
}

.find-booking:hover {
    background-color: #F87B1B;
    color: #fff;
    transition: 300ms;
}


.schedule {
    display: grid;
    grid-template-columns: 100px repeat(10, 1fr);
    gap: 15px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
}

.header {
    text-align: center;
}


.slot {
    text-align: center;
    padding: 4px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.available {
    background: #0D9C00;
}

.unavailable {
    background: #9C0000;
}

.fill-info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    justify-content: space-evenly;
}
.fill-info input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.reserve {
    background-color: #F87B1B;
    color: #fff;
    border: none;
    padding: 15px 100px;
    font-size: 1.2em;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.reserve:hover {
    background-color: #D96A00;
    transition: 300ms;
}